<div class="row">
  <div class="col-md-6 col-md-offset-2 col-sm-8">
    <form>

      <div class="form-group">
        <label for="user">Username</label>
        <input class="form-control" type="text" ng-model="message.user" placeholder="username">
      </div>

      <div class="form-group">
        <label for="text">Text</label>
        <input class="form-control" type="text" ng-model="message.text" placeholder="Type Message Here...">
      </div>

      <button class="btn btn-primary" ng-click="addNewMessage(message)">Add</button>

    </form>

    <div ng-repeat="message in messages">
      {{message.user}}; {{message.text}}

    </div>

  </div>

</div>
